/contributions/core-webapp/target/
/modules/common-module/target/
/modules/user-module/target/
/modules/property-module/target/
/modules/parking-module/target/
/services/common-service/target/
/services/user-service/target/
/services/property-service/target/
/services/parking-service/target/
*.iml
.idea/*
/contributions/core-webapp/core-webapp/target/
/contributions/property-management-web/node_modules/
/contributions/property-management-web/node/node_modules/
/contributions/property-management-web/build/
/contributions/property-management-web/node/

